<style>
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%; 

}

td{ border-bottom:1px solid black; }
</style>

<table class="bordered">
<thead>
  <% @latest_addition.each do |l| %>
   <tr><td><%= image_tag l.photo.url(:icon) %></td>
      <td> Welcome <%= l.fisrt_name %> ! Joined <%= time_tag l.created_at %>
       has a <%= l.vehicle_type %> and he can accomodate <%= l.accomodation_for %> people .</td></tr><br>
  <% end %>
</tr></thead></table>
