
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
    	
    	$("#bloc").change(function() {
    	
    	if ($("#bloc").val() == 'Vehicle Owner')
    	{
    		$(".larger").show();
    	}
    	else
    	{      
    		$(".larger").hide();
    	}
    	
    	});
    	
    	$("#bloc").change();
    	
    });
     </script>


<style>
input{width:180px;}
  input .vehicle_number{width:50px;}
</style>

<%= form_for @profile  , :html => { :multipart => true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
   <%= f.hidden_field :user_id, :value=>current_user.id %>

      <% if current_user.role=="Lift_Provider" %>
        <h4 style="text-transform:uppercase;">Looking For Lift</h4><br><br>
      <% else %>
        <h4 style="text-transform:uppercase;"> Looking for partner </h4><br><br>           
      <% end %>

 <div class="row">

  <div class="field_name">
    <%= f.label :'Date of birth'%><br>
    <%= f.date_select :date_of_birth,  :start_year => 1945 %><br><br>
    <%= f.label :Gender %>	
    <%= f.radio_button :gender, "male" %> Male 
    <%= f.radio_button :gender, "female" %> Female 
  </div><br><br><br><br><br><br>

  <div class="field_name">
    <%= f.label :upload_image %>	
    <%= f.file_field :photo %>
  </div><br><br><br><br>

  <div class="field_name">
    <%= f.label :fisrt_name %><br>
    <%= f.text_field :fisrt_name %>
  </div>
  <div class="field_name">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field_name">
    <%= f.label :Address %><br>	
    <%= f.text_field :address %>
  </div>
  <div class="field_name">
    <%= f.label :City %><br>	
    <%= f.text_field :city %>
  </div>
  <div class="field_name">
    <%= f.label :'Pincode' %><br>	
    <%= f.text_field :pincode %>
  </div>
  <div class="field_name">
    <%= f.label :'city_of_residence' %><br>	
    <%= f.text_field :city_of_residence %>
  </div>
  <div class="field_name">
    <%= f.label :'state_of_residence' %><br>	
    <%= f.text_field :state_of_residence %>
  </div>
  <div class="field_name">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field_name">
    <%= f.label :source_location %><br>
    <%= f.text_field :source_location %>
  </div>
  <div class="field_name">
    <%= f.label :destination_location %><br>
    <%= f.text_field :destination_location %>
  </div>
  <div class="field_name">
    <%= f.label :'Name of Organisation Name' %><br>	
    <%= f.text_field :organisation_name %>
  </div>
  <div class="field_name">
    <%= f.label :'Organisation Landmark' %><br>	
    <%= f.text_field :organisation_landmark %>
  </div>
  <div class="field_name">
    <%= f.label :'Destination Landmark' %><br>	
    <%= f.text_field :destination_landmark %>
  </div>

  <div class="field_name">
    <%= f.label :'Start Time' %><br>	
    <%= f.time_select :start_time %>
  </div>
  <div class="field_name">
    <%= f.label :'Reaching Time' %><br>	
    <%= f.time_select :reaching_time %>
  </div><br><br><br><br><br><br><br><br><br><br>
<% if current_user.role=="I_am_a_car_owner"%>

<div class="larger">

   <div class="field_name">
     <%= f.label :Vehicle_type %><br>
     <%= f.collection_select :vehicle_type, Profile::VEHICLE_TYPE, :to_s, :humanize %>
   </div>

   <div class="field_name">
    <%= f.label :Accomodation_for %><br>
    <%= f.select :accomodation_for, ((0..500).map {|i| [i,i] } << ["No limit",nil]) %>
   </div>

</div><br><br><br><br>

  <div class="field_name">
    <%= f.label :'vehicle_number' %><br>	
    <%= f.text_field :vehicle_number_1, :style=>"width:70px;", :placeholder=>"ex: MH-03" %>
    <%= f.text_field :vehicle_number_2, :style=>"width:95px;", :placeholder=>"ex: AV-4672" %>
  </div><br><br><br>

  <div class="field_name">
    <%= f.label :'driving_licence_number' %><br>	
    <%= f.text_field :driving_licence_number %>
  </div>
  <div class="field_name">
    <%= f.label :'issueing_state' %><br>	
    <%= f.text_field :issueing_state %>
  </div>
  <div class="field_name">
    <%= f.label :'issueing_city' %><br>	
    <%= f.text_field :issueing_city %>
  </div><br><br><br>

  <div class="field_name">
    <%= f.label :'Description' %><br>	
    <%= f.text_area :description, :style=>"width:610px;height:100px;", :placeholder => "Please write about yourself" %>
  </div>


<% end %> 

</div><br><br>
    <%= f.submit 'Save', :disable_with => "Saving" %>
<% end %>
