<% if @profile.user_id == current_user.id %>
<div id="pending" style="float:right;margin-right:120px;">
<p style="background:lightblue;color:black;padding:2px;text-align:center"> pending requests </p>
<table>
 <tr>
   <th>profile name </th>
   <th> action </th>
 </tr>
    <% @pending_friends.each do |p| %>
  <tr> 
    <td><%= p.friend.profile.full_name %></td>
    <td><%= link_to "accept", accept_friendship_path(:profile_id => p) %></td>
  </tr>
    <% end %>
 </table>
</div>

<div id="pending" style="float:right;margin-right:120px;">
<p style="background:lightblue;color:black;padding:2px;text-align:center"> Passnegers  </p>
    <% @total_friends.each do |p| %>
     <%= image_tag p.friend.profile.photo.url(:small) %>
    <% end %>
</div>
<% end %>

<%= @profile.profile_title %>
<%= image_tag @profile.photo.url(:big) %><br>
<b><%= @profile.full_name %> | <%= @profile.gender %></b><br>
<b id ="vehilce" style="background:silver">
<%= @profile.job_title %><br>
</b><br>
<%= @profile.source_location %><br>
<%= @profile.destination_location %><br>
<%= @profile.vehicle_type %><br>
<%= @profile.accomodation_for %><br>

<%= @profile.participant %><br>
<%= @profile.organisation_name %><br>
<%= @profile.city %><br>
<%= @profile.address %><br>
<%= @profile.city_of_residence %><br>
<%= @profile.state_of_residence %><br>
<%= @profile.pincode %><br>
<%= @profile.organisation_landmark %><br>
<b id ="vehilce" style="background:silver">
  <%= @profile.start_time.strftime("%I:%M :%p") %><br> 
  <%= @profile.reaching_time.strftime("%I:%M :%p") %><br>
</b>
<%= @profile.destination_landmark %><br>
<%= @profile.driving_licence_number %><br>
<%= @profile.issueing_state %><br>
<%= @profile.issueing_city %><br>
<%= @profile.issueing_state %><br>

<b id ="vehilce" style="background:silver">
  <%= @profile.vehicle_number_1 %> <%= @profile.vehicle_number_2 %><br>
</b>
<br>

<%= @profile.description %><br>
