<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "SAHAYATA" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= stylesheet_link_tag 'gmaps4rails' %>
<style>
  h1 a:link, h1 a:visited {color:green;}
</style>


</head> 

<body style="padding:30px;">
<div class="container">    
<strong style="float:right;">
  <div id="search">
  </div>
<small>
  <% if user_signed_in? %>
    <%= current_user.email %> | 
    <%= link_to "LOGOUT", destroy_user_session_path, :method=>:delete %>
  <% else %>
    <%= link_to "LOGIN", new_user_session_path %> |  
    <%= link_to "REGISTER", new_user_registration_path %>
  <% end %>
</small>
</strong>
<br>

 <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
 <% end %>
     <h1><%= link_to "SAHAYATA", "/" %> <%= image_tag 'car.png', :size=>"60x30" %> </h1><br><br>
      <%= content_tag :h3, yield(:title) if show_title? %>
      <%= yield %>
      <%= yield :scripts %>
    </div>
  </body>

</html>
